[tools]
kind = "latest"
kubectl = "latest"

[tasks.create]
description = "Create k8s cluster with `kind`"
usage = '''
arg "[name]" help="cluster name" default="local"
'''
run = "kind create cluster --name ${usage_name?}"

[tasks.apply]
description = "Apply k8s manifests"
run = "kubectl apply --server-side -k k8s/"

[tasks.delete]
description = "Delete a `kind` cluster"
usage = '''
arg "[name]" help="cluster name" default="local"
'''
run = "kind delete cluster --name ${usage_name?}"

[settings]
experimental = true
lockfile = true
