apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
  - namespace.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/v3.3.0/manifests/install.yaml
configMapGenerator:
  - name: argocd-cm
    behavior: merge
    literals:
      - users.anonymous.enabled=true
  - name: argocd-rbac-cm
    behavior: merge
    literals:
      - policy.default=role:readonly
